.Main rect{
	fill:grey;
	stroke:black;
	
}

.Main circle{
	fill:#101717;
	/*fill:none;*/
}

.Main text{
	font-family: 'Roboto Slab', serif;
	fill:white;
	text-transform: uppercase;
	font-size:12px;
	font-weight: 700;
	letter-spacing: 2px;

}
.insightLink{
	stroke:green;
	fill:green;
}
.exampleLink{
	stroke:black;
}

.form{
	width:200px;
}

#add-form{
	position: relative;
}
.insight{
	fill:white;
	stroke:black;
}
.insight-text{
	padding-top:10px;
	font-size: 2px;
}

.insight-text-box{
	font-family: 'Roboto Slab', serif;
	background-color:white;
	border:solid 1px black;
	font-size:7px;
	text-align: center;
	padding:10px;
}
.insight-how-might-we{
	color:white;
	font-family: 'Roboto Slab', serif;
	background-color:black;
	border:solid 1px black;
	font-size:7px;
	padding:10px;

}

.main-text-box{
	display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
	color:white;
	font-family: 'Roboto Slab', serif;
	fill:white;
	text-transform: uppercase;
	font-size:1em;
	font-weight: 700;
	letter-spacing: 3px;
	text-align: center;
}

.main-text-box h2{
	font-size:1em;
}

.main-sub-box{
		display:flex;
    align-items: center; /* Vertical center alignment */
 
	color:white;
	font-family: 'Roboto Slab', serif;
	fill:white;
	text-transform: uppercase;
	font-size:8px;
	font-weight: 200;
	letter-spacing: 3px;
	text-align: center;

}