.Main rect{
	fill:grey;
	stroke:black;
	
}

.Main text{
	fill:white;

}
.insightLink{
	stroke:green;
	fill:green;
}
.exampleLink{
	stroke:black;
}

.form{
	width:200px;
}

#add-form{
	position: relative;
}
.insight{
	fill:white;
	stroke:black;
}
.insight-text{
	padding-top:5px;
	font-size: 2px;
}

.insight-text-box{
	background-color:white;
	border:solid 1px black;
	font-size:7px;
	text-align: center;
}